<form action="/submit_post" method="POST">
    <p>Title</p>
    <input type="text" name="title" id="">
    <p>Content: </p>
    <textarea name="content"></textarea>
    <button type="submit">Post</button>
</form>